.buttonItem:hover{
    -fx-color: #85276A;
    -fx-border-color: #85276A;
    -fx-border-width: 0 0 3px 0;
}

.buttonItem {
    -fx-border-radius: 0;
    -fx-background-color: #333333;
}

.toolBar {
    -fx-background-color: #333333;
}

.menu-button > arrow-button{
    -fx-padding: 0;
}

.greetingLabel {
    -fx-background-radius: 20;
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button {
    -fx-border-radius: 0;
    -fx-background-color: #333333;
}

.menu-button:hover, .menu-item:hover {
    -fx-border-color: #85276A;
    -fx-border-width: 0 0 3px 0;
}

.menu-item, .menu-item:hover {
    -fx-background-color: none;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

.context-menu {
    -fx-background-color: #333333;
    -fx-padding: 10px 20px;
}

.menu-item .label{
    -fx-text-fill: white;
}

.grid-pane {
   -fx-background-color: rgba(0, 0, 0, 0.5);
}

.scroll-pane > .viewport {
   -fx-background-color: none;
}
.list-cell{
-fx-background-color:#1E1E1E;
-fx-text-fill: white;
-fx-background-radius:150;
-fx-font-size:15px;




}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #2E2E2E;
    -fx-text-fill: white;
}

